<div class="container mb-36">
  <h1 class="text-3xl font-bold text-stone-900 mb-2">
    <a routerLink="/cites" [queryParams]="">{{citeService.countSearchFoundCites()}} Citations.</a>
  </h1>

  <h2 *ngIf="q" class="text-md text-gray-600" [ngPlural]="cites.length">
    <ng-template ngPluralCase="=0">Aucune citation trouvée pour la recherche "{{q}}"&nbsp;</ng-template>
    <ng-template ngPluralCase="=1">{{cites.length}} citation trouvée pour la recherche "{{q}}":&nbsp;</ng-template>
    <ng-template ngPluralCase="other">{{cites.length}} citations trouvées pour la recherche "{{q}}":&nbsp;</ng-template>
  </h2>

  <ul class="list-none">
    <li class="p-1" *ngFor="let item of cites | paginate: { itemsPerPage: getItemsPerPage(), currentPage: getCurrentPage() };">
      <cite>”{{item.getCite()}}”</cite> de <a routerLink="/authors/{{item.getAuthor()}}">{{item.getAuthor()}}</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="w-full">
    <section id="bottom-navigation" class="block fixed inset-x-0 bottom-10 z-10 bg-white">
      <!-- pagination on top of cites coz i don't find a way for instance to set a fixed height for cites and put pagination after (for instance the pager moves in height with the number of rows in the cites) -->
      <pagination-controls (pageChange)="setCurrentPage($event)" responsive="true" autoHide="true" class="p-8"></pagination-controls>
    </section>
  </div>
</div>
