<style>

</style>

<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0)">
        <clr-icon shape="block-quote"></clr-icon>
        <span class="title">{{getCount()}} {{title}}</span>
      </a>
    </div>
    <div class="header-nav">
      <form class="search">
        <label for="search_input">
          <input id="search_input" type="text" placeholder="Rechercher..." #elSearchCite>
        </label>
      </form>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <app-list-cites [search]="search"></app-list-cites>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


